<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle >

        <ion-item routerLink="genre" routerDirection="root">
          <ion-icon name="film-outline" slot="start"></ion-icon>
          <ion-label>Genres</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>



<ion-content [fullscreen]="true">
  <ion-card *ngFor="let film of films" >
    <img src="https://image.tmdb.org/t/p/w400{{film.backdrop_path}}" />
    <ion-card-header>
      <ion-badge color="success">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        {{film.popularity}}</ion-badge>
      <ion-card-title>{{film.title}}</ion-card-title>
      <ion-badge *ngFor="let g of film['genre_ids']" (click)="goToGenre(g)">
        {{g}}
      </ion-badge>
    </ion-card-header>
    <ion-card-content>
      {{film.overview}}
      <ion-button size="small" color="medium" (click)="navigate(film)">more...</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


<router-outlet></router-outlet>
